{% if include.title and (include.content or include.links) %}


<div class="collapsable" id="{{ include.title | downcase | replace:' ','_' }}">

  <div class="collapsable-title">
    <h2>{{ include.title }}</h2>
  </div>

  {% if include.content %}
      <div class="collapsable-content">
{{ include.content | markdownify}}
      </div>
    {% endif %}

  {% if include.links %}
    <div class="collapsable-content no-bullets">
{{ include.links | markdownify}}
    </div>
  {% endif %}

</div>


{% endif %}
