

<div id="contact-links">
  <div id="contact-link-images">
    <a href="mailto:jtronlabs@gmail.com?Subject=Hello!" title="Send me an e-mail"><img src="/img/Email-50.png"></a>
    <a href="https://www.linkedin.com/in/jameslowrey2" title="See my LinkedIn"><img src="/img/LinkedIn-50.png"></a>
    <a href="https://play.google.com/store/apps/developer?id=JTronLabs" title="View published Android apps"><img src="/img/Android OS-50.png"></a>
    <a href="https://github.com/jtronlabs" title="This is where the magic happens! Follow me on GitHub"><img src="/img/GitHub-50.png"></a>
    <a href="https://www.reddit.com/user/jtronlabs" title="See my Reddit ramblings"><img src="/img/Reddit-50.png"></a>
    <a href="https://twitter.com/jtronlabs" title="Follow me on Twitter"><img src="/img/Twitter-50.png"></a>
    <a href="{{ "/feed.xml" | prepend: site.baseurl }}" title="Subscribe to RSS feed"><img src="/img/RSS-50.png"></a>

  </div>

  <a href="https://icons8.com">Icon pack by Icons8</a>
</div>
