
<div class="contact-links-btns">
  <a href="mailto:jtronlabs@gmail.com?Subject=Hello!" title="Send me an e-mail"><img src="{{ site.baseurl }}/img/Email-50.png"></a>
  <a href="https://www.linkedin.com/in/jameslowrey2" title="See my LinkedIn"><img src="{{ site.baseurl }}/img/LinkedIn-50.png"></a>
  <a href="https://play.google.com/store/apps/developer?id=JTronLabs" title="View published Android apps"><img src="{{ site.baseurl }}/img//Android OS-50.png"></a>
  <a href="https://github.com/jtronlabs" title="This is where the magic happens! Follow me on GitHub"><img src="{{ site.baseurl }}/img/GitHub-50.png"></a>
  <a href="https://www.reddit.com/user/jtronlabs" title="See my Reddit ramblings"><img src="{{ site.baseurl }}/img/Reddit-50.png"></a>
  <a href="https://twitter.com/jtronlabs" title="Follow me on Twitter"><img src="{{ site.baseurl }}/img/Twitter-50.png"></a>
  <a href="{{ "/feed.xml" | prepend: site.baseurl }}" title="Subscribe to RSS feed"><img src="{{ site.baseurl }}/img/RSS-50.png"></a>
</div>
