{% comment %}
This page will be included in the site header. It will only compile to html output
if there is data (include.links) available, which will only happen on the 'post' pages.
This will allow these links to be in the collapsed section when the page is narrow,
and moved out to its own box when when the page is wide.
{% endcomment %}

{% if include.tutorial_steps %}

<nav id="tutorial_nav">
  <h4>Content</h4>
  <div id="step-links-list">
    <ol>

      {% for step in include.tutorial_steps %}
        <li>
          <a href="{{ step | downcase | replace:' ','-' | prepend: '#'}}">{{ step }}</a>
        </li>
      {% endfor %}

      <li>
        <a href="#extensions">Extensions and Next Steps</a>
      </li>
    </ol>
  </div>

  <div id="expand-btns">
    <button type="button" id="collapse-all-btn">Collapse All</button>
    <button type="button" id="collapse-p-btn">Advanced Readers</button>
  <div>
</nav>

{% endif %}
