---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <h4>{{ page.title-subtext }}</h4>

    {% include post-meta.html date=page.date %}
  </header>

  <div class="post-content" itemprop="articleBody">
    <div id="introduction">
{{ page.introduction |  markdownify}}
    </div>

    <section class="post-info center">
      {% include nav_btns.html %}

      {% include collapsable.html title="Resources and Further Reading" links=page.resources %}
      {% include collapsable.html title="Materials Used" links=page.materials %}
      {% include collapsable.html title="Software Versions" links=page.software_versions %}
    </section>

    {{ content }}

    {% include comments.html %}
  </div>

</article>
