---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    <div id="introduction">

{% markdown %}
{{ page.introduction }}
{% endmarkdown %}

    </div>

    {% include tutorial_steps_nav_bar.html tutorial_steps=page.tutorial_steps %}

    {% include collapsable_external_links_list.html title="Resources and Further Reading" links=page.resources %}
    {% include collapsable_external_links_list.html title="Materials Used" links=page.materials %}
    {% include collapsable_external_links_list.html title="Software Versions" links=page.software_versions %}

    {{ content }}

    {% include extensions.html content=page.extensions %}
  </div>

</article>
