---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <h4>{{ page.title-subtext }}</h4>
    {% include post-meta.html date=page.date %}
  </header>

  <div class="post-content" itemprop="articleBody">
    <div id="introduction">

{% markdown %}
{{ page.introduction }}
{% endmarkdown %}

    </div>

    {% include tutorial_steps_nav_bar.html tutorial_steps=page.tutorial_steps %}

    {% include collapsable_external_links_list.html title="Resources and Further Reading" links=page.resources %}
    {% include collapsable_external_links_list.html title="Materials Used" links=page.materials %}
    {% include collapsable_external_links_list.html title="Software Versions" links=page.software_versions %}

    {{ content }}
  </div>

</article>
